/web/bundles/
/app/config/parameters.yml
/var/bootstrap.php.cache
/app/logs/*
/app/cache/*
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/build/
/vendor/
/bin/
!bin/console
!bin/symfony_requirements
*~
/web/assets/
/web/media/
/web/assetic/
/.idea/workspace.xml
/.idea/.name
/app/spool/
/web/dev.php
/data