{% extends "SlackissSocialBundle:layout:layout.html.twig" %}

{% block title %}资源列表{% endblock %}

{% block content %}

{% for entity in entities %}

<a href="{{path('social_resource_show',{id:entity.id})}}">
  <img src="{{path('social_resource_pic_show',{id:entity.id})}}" class="thumbnail img-responsive" style="max-height:150px"/>
</a>
{% endfor %}
{{ knp_pagination_render(entities) }}
{% endblock %}
