{% extends "SlackissSocialBundle:layout:layout.html.twig" %}

{% block title %}照片分享{% endblock %}

{% block content %}
{% for entity in entities %}
<div class="clearfix">
<img src="{{path('social_picture_show',{id:entity.id})}}" class="thumbnail img-responsive" />
{% if entity.description %}
<div class="well">
  {{entity.description|nl2br}}
</div>
{% endif %}
</div>
{% endfor %}

{{ knp_pagination_render(entities) }}

<hr />
{{form(form)}}
{% endblock %}
